body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

.menu{
    align-items: center;
    background-color: beige;
    padding: 0rem;
    margin: 0rem;
}

.menu ul{
    text-align: right;
    list-style: none;
    margin: auto;
}

.menu ul li{
    display: inline-block;
}

.menu ul li a{
    font-size: 1rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.logolua{
    align-items: center;
    width: 3rem;
}

.texto{
    font-size: 1rem;
    margin: auto;
}

.search{
    margin: 1rem;
    border-radius: 1rem;   
}

.options{
    align-items: center;
}

.btn{
    background-color: rgb(46, 65, 151);
}

